{% extends "dashboard/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<header class="dashboard-header">
    <div>
        <p class="eyebrow">Services</p>
        <h1>{{ title }}</h1>
    </div>
</header>

<section class="form-card">

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="primary-button">
            Salvează
        </button>

        <a href="{% url 'dashboard_services' %}">
            Anulează
        </a>
    </form>

</section>

{% endblock %}